li{
    background-color: rebeccapurple;
    color: wheat;
    list-style: none;
    text-align: center;
}
.section-card{
    background-color: gray;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 50px;
    border: 2px solid brown;
}